In [2]:
import pandas as pd
import numpy as np 
import sqlite3

The data is so big that I can't do pandas merges within notebooks bc my computer will just crash. Need to turn the dataframes into a SQLite database and then will join them within SQLiteStudio. I will then save my queries as csv and bring them back in.

In [3]:
conn = sqlite3.connect(r"movielense20million.db")

In [4]:
genomescores = pd.read_csv("../ml-20m/genome-scores.csv")
genomescores.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [5]:
genomescores.to_sql("genomescores", conn, if_exists="replace")

In [9]:
ratings = pd.read_csv("../ml-20m/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [10]:
ratings.to_sql("ratings", conn, if_exists="replace")