### Dependencies

In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.cluster import KMeans
from sklearn.preprocessing import Imputer
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score

/Users/chasekregor/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Loading & Cleaning Data

In [2]:
modelb = pd.read_csv('modelb/modelb1ml.csv')

In [3]:
#modelb = modelb.astype(float)

In [4]:
modelb = modelb.pivot_table(index = ['userId'], columns='titles', values = 'rating')

In [5]:
modelb = modelb.reset_index()
modelb.head(10)

titles,userId,"""Great Performances"" Cats (1998)",$5 a Day (2008),'71 (2014),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'R Xmas (2001),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nos amours (1983),À nous la liberté (Freedom for Us) (1931)
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for column in modelb:
    modelb[column].fillna((modelb[column].mean()), inplace=True)
    
#modelb = modelb.fillna(2.5)
modelb.head(10)

titles,userId,"""Great Performances"" Cats (1998)",$5 a Day (2008),'71 (2014),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'R Xmas (2001),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nos amours (1983),À nous la liberté (Freedom for Us) (1931)
0,1,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
1,2,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
2,3,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
3,4,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
4,5,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
5,6,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
6,7,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,2.000000,2.0,3.6
7,8,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
8,9,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
9,10,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6

In [7]:
modelb = modelb.drop(columns=['userId'])

In [8]:
modelb.head(15)

titles,"""Great Performances"" Cats (1998)",$5 a Day (2008),'71 (2014),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'R Xmas (2001),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nos amours (1983),À nous la liberté (Freedom for Us) (1931)
0,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
1,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
2,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
3,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
4,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
5,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
6,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,2.000000,2.0,3.6
7,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
8,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
9,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
10,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,5.000000,4.5,2.953917,2.533333,3.139241,2.0,3.6
11,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
12,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
13,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6
14,2.875,3.3,3.0,3.125,3.5,3.0,3.785714,2.75,2.851351,3.025316,...,3.716981,3.416667,2.5,3.321942,4.5,2.953917,2.533333,3.139241,2.0,3.6

### Building Machine Learning Model

In [9]:
"""test, train = np.split(modelb, [int(.2*len(modelb))])
train.head(10)"""

'test, train = np.split(modelb, [int(.2*len(modelb))])\ntrain.head(10)'

In [10]:
"""clusters = range(1,5)

for i in clusters: 
    
    #not sure why I would have the random state. Ask Dr. Paul about that
    #kmeans = KMeans(n_clusters=18).fit(modelb)
    kmeans = KMeans(n_clusters=i, random_state=0).fit(train)
    print("Fit Model #:")
    print(i)
    
    predictions = kmeans.predict(test)
    
    scores = cross_val_score(kmeans, test,train, cv = 10, scoring= 'accuracy')
    #print(scores)
    print(scores.mean())"""

'clusters = range(1,5)\n\nfor i in clusters: \n    \n    #not sure why I would have the random state. Ask Dr. Paul about that\n    #kmeans = KMeans(n_clusters=18).fit(modelb)\n    kmeans = KMeans(n_clusters=i, random_state=0).fit(train)\n    print("Fit Model #:")\n    print(i)\n    \n    predictions = kmeans.predict(test)\n    \n    scores = cross_val_score(kmeans, test,train, cv = 10, scoring= \'accuracy\')\n    #print(scores)\n    print(scores.mean())'

In [11]:
#not sure why I would have the random state. Ask Dr. Paul about that
#kmeans = KMeans(n_clusters=18).fit(modelb)
kmeans = KMeans(n_clusters=18, random_state=0).fit(modelb)

In [12]:
modelsize = len(modelb.columns)
modelsize

13945

### Creating a Fake User with Fake Ratings

In [13]:
#creates a fake user with random ratings
userratings = np.random.randint(low = 0, high = 5, size=modelsize)
userratings = [userratings]
userratings

[array([3, 1, 1, ..., 3, 4, 2])]

In [14]:
#predict's what cluster our fake user is in
userscluster = kmeans.predict(userratings)
userscluster = userscluster[0]
userscluster

7

In [15]:
prediction = kmeans.cluster_centers_[userscluster]
prediction

array([2.875     , 3.3       , 3.        , ..., 3.13924051, 2.        ,
       3.6       ])

In [16]:
sort_index = np.argsort(prediction)
top20 = sort_index[-21:-1]
top20

array([11159, 13044, 10886, 12661,  7478, 12667,  4274,  6689, 12212,
        6940,  5453,  7090, 12127,  7325, 11382,  4087,  7498,  3788,
        2689,  8893])

In [17]:
movietitles = modelb.columns
movietitles

Index(['"Great Performances" Cats (1998)', '$5 a Day (2008)', ''71 (2014)',
       ''Hellboy': The Seeds of Creation (2004)',
       ''Neath the Arizona Skies (1934)', ''R Xmas (2001)',
       ''Round Midnight (1986)', ''Salem's Lot (2004)',
       ''Til There Was You (1997)', ''burbs, The (1989)',
       ...
       '[REC] (2007)', '[REC]² (2009)', '[REC]³ 3 Génesis (2012)',
       'eXistenZ (1999)', 'loudQUIETloud: A Film About the Pixies (2006)',
       'xXx (2002)', 'xXx: State of the Union (2005)', '¡Three Amigos! (1986)',
       'À nos amours (1983)', 'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='titles', length=13945)

### Fake User's Top 20 Recomendations

In [18]:
for i in top20:
    print(movietitles[i])

Sideways (2004)
Upside Down: The Creation Records Story (2010)
Secrets of Jonathan Sperry, The (2008)
Towelhead (a.k.a. Nothing is Private) (2007)
London (1994)
Town is Quiet, The (Ville est tranquille, La) (2000)
Fateless (Sorstalanság) (2005)
Jubilee (1977)
Ten Minutes Older: The Trumpet (2002)
Kiss Them for Me (1957)
Hard to Be a God (2013)
Last Circus, The (Balada triste de trompeta) (Sad Trumpet Ballad, A) (2010)
Tall T, The (1957)
Life is a Miracle (Zivot je cudo) (2004)
So Normal (Normais, Os) (2003)
Examined Life (2008)
Loners (Samotári) (2000)
Earth (Tierra) (1996)
Color of Friendship, The (2000)
No End (Bez konca) (1985)

### Saving The Model Using Pickle

In [19]:
with open('flask-app/kmeans.pkl', 'wb') as fid:
    pickle.dump(kmeans, fid,2)

In [20]:
#Save a dictionary of the index keys to make the dummy variables out of user input

#create a dataframe containing only the categorical variables. In our case, it is the entire dataset except the ARR_DELAY column
cat = modelb

index_dict = dict(zip(cat.columns,range(cat.shape[1])))

#Save the index_dict into disk
with open('flask-app/cat', 'wb') as fid:
    pickle.dump(index_dict, fid,2)

### Saving the Title & Average of Every Movie

In [21]:
movies = list(zip())

for column in modelb:
    i = {'title':column, 'average':modelb[column].mean()}
    movies.append(dict(i))

In [22]:
movies[0:10]

[{'average': 2.875, 'title': '"Great Performances" Cats (1998)'},
 {'average': 3.299999999999588, 'title': '$5 a Day (2008)'},
 {'average': 3.0, 'title': "'71 (2014)"},
 {'average': 3.125, 'title': "'Hellboy': The Seeds of Creation (2004)"},
 {'average': 3.5, 'title': "'Neath the Arizona Skies (1934)"},
 {'average': 3.0, 'title': "'R Xmas (2001)"},
 {'average': 3.785714285713989, 'title': "'Round Midnight (1986)"},
 {'average': 2.75, 'title': "'Salem's Lot (2004)"},
 {'average': 2.851351351351335, 'title': "'Til There Was You (1997)"},
 {'average': 3.025316455696159, 'title': "'burbs, The (1989)"}]

In [23]:
with open('flask-app/movies', 'wb') as fid:
    pickle.dump(movies, fid,2)