In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect(r"movies.db")

In [3]:
genomescores = pd.read_csv("../ml-20m/genome-scores.csv")
genomescores.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [4]:
genomescores.to_sql("genomescores", conn, if_exists="replace")

In [5]:
genomescorez = pd.read_sql_query("SELECT * from genomescores", conn)

In [6]:
genomescorez.head()

   index  movieId  tagId  relevance
0      0        1      1    0.02500
1      1        1      2    0.02500
2      2        1      3    0.05775
3      3        1      4    0.09675
4      4        1      5    0.14675