# Move Recomenendation System

## Information Science Capstone By Chase Kregor

## The following project is possible due to the https://grouplens.org/datasets/movielens/

There are two ways to approach recommendation systems. Content Based & Collaborative based. The "best" recomenders combine the two. 

Most movie recommenders either do one of the two really well but they don't offer the user those two options. 

On my website I want users to rate movies from 0 to 5 and then the recommder will tell them what movies they will like based on what they have rated and will give them a list of movies thats not in their content based recomendation saying "people who have liked similair movies as you liked: blah, blah, and blah" 

The idea is to give the users both content and collaborative suggestions not just one or the other, and to do it well.

In [2]:
import pandas as pd
import numpy as np

#### Combine the two genomes on tagID

In [3]:
genomescores = pd.read_csv("../ml-20m/genome-scores.csv")
genomescores.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [4]:
genometags = pd.read_csv("../ml-20m/genome-tags.csv")
genometags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [16]:
genome = pd.merge(genomescores,
                 genometags,
                 on='tagId')

In [23]:
genome = genome.sort_values('movieId', ascending=True)

In [24]:
genome.head()

          movieId  tagId  relevance               tag
0               1      1    0.02500               007
4453449         1    430    0.07675            genius
10505572        1   1013    0.20075              teen
321811          1     32    0.22800  afi 100 (laughs)
3602207         1    348    0.29150         emotional

#### Combine the links and movies

In [5]:
links = pd.read_csv("../ml-20m/links.csv")
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [7]:
movies = pd.read_csv("../ml-20m/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [25]:
movies = pd.merge(links,
                 movies,
                 on='movieId')

In [26]:
movies = movies.sort_values('movieId', ascending=True)

In [27]:
movies.head()

,movieId,imdbId,tmdbId,title,genres
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy

#### Combine the ratings and tags

In [8]:
ratings = pd.read_csv("../ml-20m/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [9]:
tags = pd.read_csv("../ml-20m/tags.csv")
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [32]:
ratings = pd.merge(ratings,
                 tags,
                 on=tags['movieId','userId']

SyntaxError: unexpected EOF while parsing (<ipython-input-32-d1af7fa0ddd2>, line 3)

# Is anything empty?

In [20]:
genomescores.isnull().sum()

movieId      0
tagId        0
relevance    0
dtype: int64

In [21]:
genometags.isnull().sum()

tagId    0
tag      0
dtype: int64

In [22]:
links.isnull().sum()

movieId      0
imdbId       0
tmdbId     252
dtype: int64

In [29]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [25]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [26]:
tags.isnull().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64