In [7]:
import pandas as pd
import numpy as np
import sqlite3

In [8]:
conn = sqlite3.connect(r"movielense20million.db")

In [9]:
model = pd.read_sql_query("SELECT movieId, userId, tagId, relevance, rating FROM ratings INNER JOIN genomescores ON ratings.movie2Id = genomescores.movieId LIMIT 50000000;", conn)

In [10]:
model

          movieId  userId  tagId  relevance  rating
0               2       1      1    0.03975     3.5
1               2       1      2    0.04375     3.5
2               2       1      3    0.03775     3.5
3               2       1      4    0.04800     3.5
4               2       1      5    0.11025     3.5
5               2       1      6    0.07250     3.5
6               2       1      7    0.04775     3.5
7               2       1      8    0.10975     3.5
8               2       1      9    0.09925     3.5
9               2       1     10    0.02050     3.5
10              2       1     11    0.06775     3.5
11              2       1     12    0.08900     3.5
12              2       1     13    0.22575     3.5
13              2       1     14    0.00625     3.5
14              2       1     15    0.00300     3.5
15              2       1     16    0.03475     3.5
16              2       1     17    0.00950     3.5
17              2       1     18    0.18975     3.5
18              2       1     19    0.64600     3.5
19              2       1     20    0.40025     3.5
20              2       1     21    0.45100     3.5
21              2       1     22    0.60200     3.5
22              2       1     23    0.15100     3.5
23              2       1     24    0.28100     3.5
24              2       1     25    0.07600     3.5
25              2       1     26    0.14350     3.5
26              2       1     27    0.11675     3.5
27              2       1     28    0.04350     3.5
28              2       1     29    0.98100     3.5
29              2       1     30    0.10550     3.5
...           ...     ...    ...        ...     ...
49999970     2694     344    243    0.05975     4.0
49999971     2694     344    244    0.21700     4.0
49999972     2694     344    245    0.03200     4.0
49999973     2694     344    246    0.04300     4.0
49999974     2694     344    247    0.02475     4.0
49999975     2694     344    248    0.04800     4.0
49999976     2694     344    249    0.02225     4.0
49999977     2694     344    250    0.02500     4.0
49999978     2694     344    251    0.13075     4.0
49999979     2694     344    252    0.04775     4.0
49999980     2694     344    253    0.03350     4.0
49999981     2694     344    254    0.00450     4.0
49999982     2694     344    255    0.20075     4.0
49999983     2694     344    256    0.19300     4.0
49999984     2694     344    257    0.04200     4.0
49999985     2694     344    258    0.26400     4.0
49999986     2694     344    259    0.05125     4.0
49999987     2694     344    260    0.12975     4.0
49999988     2694     344    261    0.08775     4.0
49999989     2694     344    262    0.27450     4.0
49999990     2694     344    263    0.02250     4.0
49999991     2694     344    264    0.08125     4.0
49999992     2694     344    265    0.11800     4.0
49999993     2694     344    266    0.35350     4.0
49999994     2694     344    267    0.03100     4.0
49999995     2694     344    268    0.08175     4.0
49999996     2694     344    269    0.15450     4.0
49999997     2694     344    270    0.17925     4.0
49999998     2694     344    271    0.02675     4.0
49999999     2694     344    272    0.74200     4.0

[50000000 rows x 5 columns]

## Machine Learning Model

In [13]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [14]:
regr = linear_model.LinearRegression()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Train the model using the training sets
regr.fit(diabetes_X_train, diabetes_y_train)

# Make predictions using the testing set
diabetes_y_pred = regr.predict(diabetes_X_test)

NameError: name 'diabetes_X_train' is not defined