In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
conn = sqlite3.connect(r"movielense20million.db")

In [9]:
model = pd.read_sql_query("SELECT movieId, userId, tagId, relevance, rating FROM ratings INNER JOIN genomescores ON ratings.movie2Id = genomescores.movieId LIMIT 500000;", conn)

In [10]:
model

        movieId  userId  tagId  relevance  rating
0             2       1      1    0.03975     3.5
1             2       1      2    0.04375     3.5
2             2       1      3    0.03775     3.5
3             2       1      4    0.04800     3.5
4             2       1      5    0.11025     3.5
5             2       1      6    0.07250     3.5
6             2       1      7    0.04775     3.5
7             2       1      8    0.10975     3.5
8             2       1      9    0.09925     3.5
9             2       1     10    0.02050     3.5
10            2       1     11    0.06775     3.5
11            2       1     12    0.08900     3.5
12            2       1     13    0.22575     3.5
13            2       1     14    0.00625     3.5
14            2       1     15    0.00300     3.5
15            2       1     16    0.03475     3.5
16            2       1     17    0.00950     3.5
17            2       1     18    0.18975     3.5
18            2       1     19    0.64600     3.5
19            2       1     20    0.40025     3.5
20            2       1     21    0.45100     3.5
21            2       1     22    0.60200     3.5
22            2       1     23    0.15100     3.5
23            2       1     24    0.28100     3.5
24            2       1     25    0.07600     3.5
25            2       1     26    0.14350     3.5
26            2       1     27    0.11675     3.5
27            2       1     28    0.04350     3.5
28            2       1     29    0.98100     3.5
29            2       1     30    0.10550     3.5
...         ...     ...    ...        ...     ...
499970      531       4    267    0.05250     3.0
499971      531       4    268    0.03550     3.0
499972      531       4    269    0.20650     3.0
499973      531       4    270    0.26900     3.0
499974      531       4    271    0.05525     3.0
499975      531       4    272    0.16825     3.0
499976      531       4    273    0.00675     3.0
499977      531       4    274    0.07400     3.0
499978      531       4    275    0.11950     3.0
499979      531       4    276    0.14400     3.0
499980      531       4    277    0.40825     3.0
499981      531       4    278    0.35425     3.0
499982      531       4    279    0.25875     3.0
499983      531       4    280    0.01375     3.0
499984      531       4    281    0.00850     3.0
499985      531       4    282    0.11475     3.0
499986      531       4    283    0.04450     3.0
499987      531       4    284    0.03000     3.0
499988      531       4    285    0.06325     3.0
499989      531       4    286    0.08575     3.0
499990      531       4    287    0.36500     3.0
499991      531       4    288    0.15375     3.0
499992      531       4    289    0.07575     3.0
499993      531       4    290    0.00875     3.0
499994      531       4    291    0.00950     3.0
499995      531       4    292    0.32850     3.0
499996      531       4    293    0.05025     3.0
499997      531       4    294    0.05850     3.0
499998      531       4    295    0.03025     3.0
499999      531       4    296    0.02725     3.0

[500000 rows x 5 columns]

In [11]:
model.userId.value_counts()

3    210936
1    196272
2     68808
4     23984
Name: userId, dtype: int64