In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
conn = sqlite3.connect(r"movielense20million.db")

In [3]:
genomescorez = pd.read_sql_query("SELECT * from genomescores", conn)

In [6]:
model = pd.read_sql_query("SELECT movieId, userId,tagId,relevance,rating FROM ratings INNER JOIN genomescores ON ratings.movieId = genomescores.movieId LIMIT 25000;", conn)

DatabaseError: Execution failed on sql 'SELECT movieId, userId,tagId,relevance,rating FROM ratings INNER JOIN genomescores ON ratings.movieId = genomescores.movieId LIMIT 25000;': ambiguous column name: movieId

In [5]:
genomescorez.head()

   index  movieId  tagId  relevance
0      0        1      1    0.02500
1      1        1      2    0.02500
2      2        1      3    0.05775
3      3        1      4    0.09675
4      4        1      5    0.14675