### Import Dependencies

In [1]:
import pandas as pd
import numpy as np
import sqlite3

### Connect to Database

In [2]:
conn = sqlite3.connect(r"movielense20million.db")

### Model #1

In [38]:
model = pd.read_sql_query("""SELECT movieId, 
userId, 
tagId, 
relevance, 
rating 

FROM ratings INNER JOIN (SELECT * FROM genomescores LIMIT 100) as genomescores 

ON ratings.movie2Id = genomescores.movieId 


ORDER BY userId ASC;""", conn)

In [39]:
model.head(10)

   movieId  userId  tagId  relevance  rating
0        1       3      1    0.02500     4.0
1        1       3      2    0.02500     4.0
2        1       3      3    0.05775     4.0
3        1       3      4    0.09675     4.0
4        1       3      5    0.14675     4.0
5        1       3      6    0.21700     4.0
6        1       3      7    0.06700     4.0
7        1       3      8    0.26275     4.0
8        1       3      9    0.26200     4.0
9        1       3     10    0.03200     4.0

In [40]:
model = model.pivot_table(index = ['userId','movieId','rating'], columns='tagId', values = 'relevance')

In [41]:
model.head(15)

,,tagId,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
userId,movieId,rating,,,,,,,,,,,,,,,,,,,,,
3,1,4.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
6,1,5.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
8,1,4.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
10,1,4.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
11,1,4.5,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
12,1,4.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
13,1,4.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
14,1,4.5,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
16,1,3.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
19,1,5.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
22,1,3.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
23,1,4.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
24,1,4.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
31,1,3.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775
34,1,5.0,0.025,0.025,0.05775,0.09675,0.14675,0.217,0.067,0.26275,0.262,0.032,...,0.0595,0.02875,0.32775,0.33225,0.044,0.0435,0.0625,0.05675,0.12725,0.10775

In [43]:
model.movieId.value_counts()

AttributeError: 'DataFrame' object has no attribute 'movieId'

### Model #2

In [16]:
model2 = pd.read_sql_query("""SELECT userId, 
movie2id,
rating


FROM ratings  

GROUP BY UserId

ORDER BY userId ASC

LIMIT 1000;""", conn)

In [17]:
model2.head(20)

    userId  movie2Id  rating
0        1     31696     4.0
1        2      3959     5.0
2        3      5060     5.0
3        4       733     5.0
4        5      1393     5.0
5        6      1073     1.0
6        7      5009     3.0
7        8       733     4.0
8        9      4533     3.0
9       10      3107     3.0
10      11     82095     1.0
11      12       788     4.0
12      13       597     5.0
13      14     60487     4.0
14      15       780     3.0
15      16      4321     3.0
16      17      4700     3.0
17      18     78637     3.0
18      19      1073     5.0
19      20      6807     3.5

In [ ]:
model2.rating

In [ ]:
model2 = model2.pivot(index = 'userId', columns='rating')
model2

## Machine Learning Model

In [20]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [19]:
regr = linear_model.LinearRegression()

X_train, X_test, y_train, y_test = train_test_split(features, rating, test_size=0.3, random_state=42)

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
movies_y_pred = regr.predict(X_test)

accuracy_score(y_true, movies_y_pred, normalize=False)

NameError: name 'features' is not defined