In [1]:
import pandas as pd
import numpy as np 
import sqlite3

The data is so big that I can't do pandas merges within notebooks bc my computer will just crash. Need to turn the dataframes into a SQLite database and then will join them within SQLiteStudio. I will then save my queries as csv and bring them back in.

In [2]:
conn = sqlite3.connect(r"movielense20million.db")

In [3]:
genomescores = pd.read_csv("../ml-20m/genome-scores.csv")
genomescores.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [4]:
genomescores.to_sql("genomescores", conn, if_exists="replace")

DatabaseError: Execution failed on sql 'DROP TABLE "genomescores"': database is locked

In [ ]:
ratings = pd.read_csv("../ml-20m/ratings.csv")
ratings.head()

In [ ]:
ratings.to_sql("ratings", conn, if_exists="replace")

In [ ]:
model = pd.read_csv("model.csv")

In [ ]:
model.head()

In [ ]:
print("done")